<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Stylesheets/_Normalize.css">
    <link rel="stylesheet" href="/Stylesheets/header-footer.css">
    <link rel="stylesheet" href="/Stylesheets/body.css">
    <div id="header" name="header">
    <title>Garden Keeper</title>
    <p>
      <% if (user) { %>
            Welcome to your gardens, <%= user.username %>.
      <% } else { %>
        Garden Keeper
      <% } %>
    </div>
  </p>
<%- include("../partials/_navbar.ejs") %>
</head>
<body>