<%- include("../partials/_header") %>
<body>
    <h1>Start tracking a new garden.</h1>
    <form action="/gardens/<%= user._id %>" method="POST">
        <div>    
            <!-- Garden Name + Owner -->
             <input type="text" name="owner" id="owner" value="<%= user.username %>" disabled></input>
             <input type="text" name="name" id="name" placeholder="Name"/></input>
        </div>
        <div>
            <!-- Garden Location -->
             <select id="location" name="location"/>
             <option value="none" selected disabled hidden>Garden Location</option>
             <option value="indoor">Indoor</option>
             <option value="outdoor">Outdoor</option>
            </select>
        </div>
        <div>
            <!-- Garden Description -->
             <textarea name="description" id="description"
             placeholder="Write a little bit about your garden! Is it new or old? Do you take care of it alone or with others? You can fill out as much or as little information as you'd like."
             /></textarea>
        </div>
        <div>
            <!-- Garden image URL -->
             <input type="text" name="imageURL" id="imageURL" placeholder="Image URL"/></input>
        </div>
        <div>
            <!-- Cancel/Submit -->
             <button type="submit">Add Garden</button>
        </div>
    </form>
  </body>
<%- include("../partials/footer") %>